@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&display=swap');

body {
    background-color: black;
}

/*
    font-family: 'JetBrains Mono', monospace; 
    */

.topbar {
    width: 100%;
    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 25px;

    /* MAKE THE THING STICKY */
    position: fixed;
    top: 0;
}

/* BOTH SIDES OF THE NAVBAR */
#navbar-left {
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding-left: 25px;
}

#navbar-right {
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* LEFT NAV BUTTON STYLING */
.nav-left-button {
    width: 100px;
    height: auto;

    background-color: transparent;
    color: white;

    /*border: solid white 0.5px;*/
    border: none;

    transition: all ease-in-out 0.25s;

    font-family: 'JetBrains Mono', monospace;
    font-size: 15px;
}

.nav-left-button:hover {
    color: black;

    font-style: italic;

    box-shadow: inset 100px 0 0 0 white;
}

/* RIGHT NAV BUTTON STYLING */
.nav-right-button {
    width: 100px;
    width: auto;
    height: auto;

    background-color: transparent;
    color: white;

    border: solid 0.5px;
    border-color: transparent;
    border-radius: 50px;

    transition: all ease-in-out 0.25s;

    font-family: 'JetBrains Mono', monospace;
    font-size: 18px;

    padding-right: 25px;
}

/* CONTENT GOES HERE */
.content {
    padding-top: 50px;
    background-color: transparent;

    font-family: 'JetBrains Mono', monospace;
    font-size: 100%;
}

#blink-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: clamp(12px, 2.5vw, 24px) /*2.5vw*/;
}

#blink-cursor {
    animation: blinker 1s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.5vw;
    font-family: 'Azeret Mono', monospace;
}
