@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/*
body {
  --dot-bg: black;
  --dot-color: rgba(128, 128, 128);
  --dot-size: 1px;
  --dot-space: 10px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);

    color: white;
}*/

body {
    background: repeating-linear-gradient(
    0deg,
  black,
  black 10px,
  #222 10px,
  #333 11px
);
}

#link {
    color: gray;
}

#text {
    margin-top: 3%;
}

#face {
    width: 10%;
    height: auto;
}

#top {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style:italic;
    
    color: white;
    
    font-size: 400%;

}

#main {
    color: white;

    margin-top: 3%;

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-size: 20px;
    font-style: normal;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}