/* Import some fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    background-color: black;
}

#topbar{
    background-color: black;

    display: flex;
    flex-direction: row;
    gap: 10px;

    position: sticky;
    top: 0px;
    padding: 5px 0;

    box-shadow: 0 0 10px 10px black;
}

.topbar_button{
    /* Font */
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;

    /* Dimensions */
    width: 120%;
    height: auto;

    /* Colors */
    background-color: rgba(0, 0, 0, 0);
    color: white;

    /* Look */
    border: none;

    /* Animation */
    transition: ease-in-out 0.25s;
}

.topbar_button:hover{
    box-shadow: 2px 0 0 0 inset white;
}

/* NOTE: Resizing to adjust to window */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.2em;
  }
}
