/* Import some fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#skills{
    padding-top: 180px;
    text-align: center;
}

#skills_head{
    color: white;

    /* Font */
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 48px;
    font-weight: 700;

    padding-bottom: 70px;

    transition: ease-in-out 0.5s;
}

#skills_head:hover{
    font-weight: 100;
}

#skills_icons{
    padding-top: 5px;
    /* Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Background */
    background-color: white;

    box-shadow: 0 0 35px 35px white;

    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
}
